VITE_SUPABASE_URL=https://uyxkppgpmpxdeheecteb.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_cIwIF6PQvxm9KD8O7zHfvA_tTWGcdss
VITE_VAPID_PUBLIC_KEY=BNH0387fWhiKjzKQm5zT80f_WPaTK2WJU43_mv598p_kIPC4VJ6fbUzOTfUDAnj1YVPLFsy-c-iOpRld37zX2rA
